<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <title>Add new member</title>
</head>
<body>
<form action="/members/add" method="POST">
    <div>
        <label for="name">氏名</label>
        <input type="text" id="name" name="name" />
    </div>
    <div>
        <label for="age">年齢</label>
        <input type="text" id="age" name="age" />
    </div>
    <input type="submit" value="新規追加">
</form>
</body>
</html>