<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/main.css" />
</head>
<body>
<h1>{{ title }}</h1>
<br>
<a href="/members/add">メンバー追加</a>
</body>
</html>
